.errorlist {
    color: #990000;
}

#map {
    float: right;
    border: solid 1px #999999;
    margin-left: 1em;
    width: 390px;
    height: 390px;
}

#map div.olControlAttribution {
    text-align: right;
    bottom: 0.5em;
}

.ms-intro {
    font-size: 14px; /* Barnet lhs margin text size */
    margin-bottom: 2em;
}

.ms-form {
    /* js will add margin-right: 400px; to allow for the map */
    padding: 0px;
}
.ms-form p {
    margin: 0;
    padding: 8px 8px;
}

.ms-form ul {
    margin-left: 8px;
}

.ms-location {
    border: 1px solid #34A3A4;  
}

#barnet_only_warning { 
    /* js will add margin-right: 400px; to allow for the map */
}

p.ms-or{
    padding: 4px 8px;
}

.ms-pc, .ms-ward {
    padding:4px 0;
    margin:0;
}
.ms-pc p, ms-ward p {
    padding: 4px 8px;
    margin: 0;
}

.ms-pc p {
    font-size: 1.126em;
}
.ms-pc:hover, .ms-ward:hover {
    background-color: #D8EBEB;
}

.ms-pc       { border-bottom: 1px dashed #D8EBEB;  }
.ms-pc:hover { border-bottom: 1px solid #34A3A4;} 

.ms-ward       { border-top: 1px dashed #D8EBEB; }
.ms-ward:hover { border-top: 1px solid #34A3A4; }

.ms-email {
    margin-top: 1.8em;
}
.ms-email p {
    margin-top: 0;
    padding-top: 0;
}

#radius_pick ul {
    margin: 0 0 1em 8px;
}
#radius_label {
    margin-bottom: 0;
    padding-bottom: 0;
}

input#create{
    margin-left: 8px;
}
.ms-confirm{
    background-image: url(/static/images/thumbs-up.png);
}
.ms-check-email{
    background-image: url(/static/images/email.png);
}
.ms-confirm,.ms-check-email{
    background-position: left center;
    background-repeat: no-repeat; 
    padding-left: 66px;
    min-height: 60px;
}
.ms-breakout {
    background-image: url(/static/images/exclaim.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 80px;
    background-color: #D8EBEB;
    border: 1px solid #34A3A4;    
    min-height: 60px;
}

#alert_form {
    margin-bottom: 1.5em;
}
#content #alert_form label {
    display: inline-block;
}
