{% extends 'base.html' %}

{% block title %}Barnet planning alerts{% endblock %}

{% block content %}

<h1>Barnet planning alerts</h1>

<p>Sign up to receive an email whenever a new planning application is made near you.</p>

<div id="map"></div>
<form method="post" action="/" id="alert_form">
{{ form.as_p }}
<input type="submit" value="Create alert">
</form>

<p>Please note that you will only be alerted about planning applications made to Barnet council,
so applications within the blue boundary on the map.</p>

{% endblock %}

